@import "../../styles/sass/variables";
@import "../../styles/sass/mixins";


.title {
  margin: 0 0 30px;
  @include text( $titleFontFamily, 25px, 1.2, 300);
  color: $textColor;
  text-transform: capitalize;
  letter-spacing: 5px;
  position: relative;

  .title h2 {
    margin: 0;
  }

  &::before {
    content: "";
    position: absolute;
    background: $primaryColor;
    width: 55px;
    height: 1px;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}


