@import "./src/common/styles/sass/variables";
@import "./src/common/styles/sass/mixins";

.divTitle {
  @include flexBox(row, center, center, nowrap);
  position: relative;
  width: 100%;
  margin-bottom: 40px;

  &::before {
    position: absolute;
    content: '';
    bottom: -10px;
    left: 50%;
    width: 80px;
    height: 1px;
    background-color: $primaryColor;
    transform: translate(-50%, 50%);
  }

  .title {
    @include text($fontFamilyStyle, 35px, 700, $primaryColor);
    margin: 0;
    @media only screen and (min-width: 1150px) and (max-width: 1700px) {
      font-size: 30px;
    }
    @media only screen and (min-width: 100px) and (max-width: 1150px) {
      font-size: 25px;
    }
    @media screen and (orientation: landscape) and (min-height: 200px) and (max-height: 450px) {
      font-size: 24px;
    }
  }
}