@import "./src/common/styles/sass/variables";
@import "./src/common/styles/sass/mixins";

.link {
  @include flexBox(row, center, center, nowrap);
  width: 90px;
  height: 60px;
  @media only screen and (min-width: 100px) and (max-width: 1700px) {
    height: 40px;
  }

  .linkText {
    @include text($fontFamilyStyle, 20px, 550, $textColor);
    transition: .3s;
    @media only screen and (min-width: 850px) and (min-height: 600px) {
      &:hover {
        color: $primaryColor;
      }
    }
    @media only screen and (min-width: 1150px) and (max-width: 1700px) {
      font-size: 16px;
    }
    @media only screen and (min-width: 700px) and (max-width: 1150px) {
      font-size: 14px;
    }
    @media only screen and (min-width: 100px) and (max-width: 700px){
      font-size: 13px;
    }
    @media screen and (orientation: landscape) and (min-height: 200px) and (max-height: 450px) {
      font-size: 14px;
    }
  }
}