@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.project {
  width: 500px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  background-color: $bgSecondColor;
  border-radius: 5px;


  .image {
    height: 300px;
    @include  flex(row,center,center, nowrap);
    @include bySettings();
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    &::before {
      position: absolute;
      content: "";
      background-color: black;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.4;

    }


    .viewBtn {
      background-color: $primaryColor;
      padding: 10px 20px;
      position: relative;
      z-index: 1;
      color: $textColor;
    }

  }

  .projectInfo {
    padding: 25px 20px;

    .projectTitle {
      @include text($titleFontFamily, 20px, 1.2,400);
      letter-spacing: 1px;
      margin: 0 0 5px;
      color: $textColor;
    }

    .description {
      @include text($textFontFamily, 15px, 1.8,250);
      color: $textColor;
    }

  }

}







