@import "./src/common/styles/sass/variables.scss";
@import "./src/common/styles/sass/mixins";

.nav {
  height: 100%;
  @include container();
  @include flex(row, flex-end, center, nowrap);

  .navText {
    color: $textColor;
    @include text($titleFontFamily, 17px, 2, 500);
    letter-spacing: .4px;
    text-decoration: none;
    padding: 4px;
    text-transform: uppercase;
    position: relative;
    margin-right: 20px;
    cursor: pointer;
  }
}

