@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.projectsBlock {
  background-color: $bgColor;
  padding: 100px 0;

  .projectsContainer {
    min-height: 100%;
    @include container();
    @include flex(column,space-around,center,wrap);
    .projects {
      width: 100%;
      @include flex(row,space-between, flex-start,wrap);
      margin-top: 30px;
      @media screen and (max-width: 1129px) {
        justify-content: center;
      }
    }
  }
}









