.projectsBlock {
    min-height: 100vh;
    background-color: blue;
}


.projectsContainer {
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;

}

.title {
    background-color: darkgray;
}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}




