@import "./../common/styles/sass/variables";
@import "./../common/styles/sass/mixins";

.projectsBlock {
  height: 100%;
  background-color: $bgColor;

  .projectsContainer {
    @include container();

    .projects {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
      @media only screen and (max-width: 950px) {
        grid-template-rows: 1fr;
        grid-template-columns: none;
      }
    }
  }
}
